body{
    margin: 0;
    background-color: darkblue;
}

.mapcss{
    width: 100%;
    height: 95vh;
}

.navbar{
    display: flex;
    justify-content: space-between;/*박스 사이 빈 공간 생성*/
    align-items: center;/*박스들을 정렬*/
    background-color: darkblue;/*배경색 지정*/
    padding: 5px 12px;
}

.navbar_logo a{
    color: red;
    padding-left: 0;
}

.navbar_menu{
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
}

.navbar_menu li{
    padding: 8px 30px;
}

.navbar_menu li:hover{
    color: darkblue;
    background-color: yellowgreen;
    border-radius: 3px;
}

.navbar_menu li a{
    text-decoration: none;
    color: white;
}

.navbar_menu li a:hover{
    color: black;
}